/* contoh selector tag ekternal CSS */
p{
    color: crimson;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
body{
    background-color: aliceblue;
    background-image: url('../IMG/39060.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset, legend{
    border-width: 1px;
    border-color: lightblue;
    border-radius: 30px;
}
legend{
    padding: 10px;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 23px;
}
li{
    font-size: 20px;
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
}
table{
    border: 10px;
    margin: auto;
}
tr{
    padding: 5px;
    border: 1px solid green;
}
tr :hover{
    background-color: gray;
    color: brown;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
/* contoh selector ID */
#paragraph {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: aqua;
}
/* contoh Selector Class */
ul, li, a.item:link, a.item:visited, a.item:active{
    text-decoration: none; /* menghilangkan garis */
    list-style: none; /*menghilangkan titik */
    display: block; /*mendisplay a sebgai block */
    float: left; /* memposisikan a untuk ke bagian kiri */
    padding: 2px 3px; /* memberikan jarak dan membentuk persegi */
    background-color: white; /* mewarnai block */
}